<main class="container">
    <div class="container__form">
        <form [formGroup]="loginForm" (ngSubmit)="login($event)" class="form__login">
            <div>
                <span class="text--big text--black">Welcome back</span>
            </div>
            <div class="formGroup">
                <label for="email">Email:</label>
                <input type="email" formControlName="email" id="email" placeholder="example@domain.com">
            </div>
            <div class="formGroup">
                <label for="password">Password:</label>
                <input type="password" formControlName="password" id="password" placeholder="********">
            </div>
            <span class="text--msg text--error visibility" *ngIf="isErrorForm">Credentials incorrect</span>
            <div>
                <input type="submit" class="button button--primary" value="Log in" title="Log in">
            </div>
        </form>
    </div>
</main>