@import '../styles.scss';

.header {
    width: 100%;
    height: 70px;
    background-color: $color-secondary-gray-light;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    &--wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        .logo {
            height: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
        }

        .buttons--wrapper{
            grid-column-gap: 0.5rem;
            grid-row-gap: 0.5rem;
            align-items: center;
            display: flex;
        }
    }
}

main {
    width: 100%;
    height: calc(100vh - 70px);
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px 0 #00000014, 0 9px 28px 8px #0000000d;
}